<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>Select Recipe to Bottle</h1>
    <form action='/bottling'>
       <fieldset>
          <p>
             <label>Recipe</label>
             <select id = "myList" name="Recipe">
               <option value = "Pilsner">Pilsner</option>
               <option value = "Dunkel">Dunkel</option>
               <option value = "Red Helles">Red Helles</option>
             </select>
          </p>
			Batch Number:<br>
			<input type="text" name="BatchNumber" value="99"><br>
			<hl>Assign a Start Time</h1>
			Start Time:<br>
      <input type="datetime-local" name="StartTime" id="mhHeader" value="{{datetime_now}}" min="{{datetime_now}}">
			<br>
			Duration:<br>
			<input type="text" name="Duration" value="3">hours </input>
			<button type="submit">submit</button>
       </fieldset>
    </form>
  </body>
</html>